<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jiurong.search.plugin.KeywordMapper">

    <resultMap id="Keyword" type="com.jiurong.search.plugin.Keyword">
    	<id property="text" column="text"/>
    	<result property="isChar" column="is_char"/>
    	<result property="freq" column="freq"/>
    	<result property="createTime" column="create_time"/>
    	<result property="isNewWord" column="is_newword"/>
    </resultMap>
    
    <sql id="dbname">mmseg_keyword</sql>
    
    <insert id="add" parameterType="com.jiurong.search.plugin.Keyword">
        insert into <include refid="dbname" />(text, is_char, freq, create_time, is_newword)
        values(#{text}, #{isChar}, #{freq}, NOW(3), #{isNewWord})
    </insert>
    <insert id="addAll" parameterType="com.jiurong.search.plugin.Keyword">
        insert into <include refid="dbname" />(text, is_char, freq, create_time, is_newword)
        values
        <foreach collection="collection" separator="," item="i">
            (#{i.text}, #{i.isChar}, #{i.freq}, NOW(3), #{i.isNewWord})
        </foreach>
    </insert>
    <select id="exists" resultType="int">
    	select count(1) from <include refid="dbname" />
    	where text=#{keyword}
    </select>
    <select id="findAllWords" resultMap="Keyword">
    	select * from <include refid="dbname" /> where is_char = 0
    </select>
    <select id="findAllChars" resultMap="Keyword">
    	select * from <include refid="dbname" /> where is_char = 1
    </select>
    <select id="latestUpdate" resultType="Date">
    	select max(create_time) from <include refid="dbname" />
    </select>
    <select id="findAllNewWords" resultMap="Keyword">
    	select * from <include refid="dbname" /> where is_newword = 1
    </select>
    <update id="updateIsNewWord" parameterType="Date">
    	update <include refid="dbname" /> set is_newword = 0 where create_time &lt;= #{maxCreateDate}
    </update>
    
</mapper>
